body {
  background-image: url("../images/bg5.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: white;
  font-size: 16px;
  min-width: 560px;
}
@media only screen and (min-width:768px) {
  .app {
    width: 700px;
    margin: 5% auto;
    background: rgba(31, 31, 46, 0.80);
    border-radius: 8px;
  }
}
@media (max-width:768px) {
  .app {
    background: rgba(31, 31, 46, 0.80);
    width: 80%;
    margin: 10% auto;
    box-shadow: 0 4px 0px #333;
    border-radius: 8px;
  }
}
@media (max-width:560px) {
  .app {
    background: rgba(31, 31, 46, 0.80);
    width: 100%;
    margin: 0% auto;
    box-shadow: 0 4px 0px #333;
    border-radius: 8px;
  }
}
.header {
  display: flex;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: rgba(31, 31, 46, 0.90);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.statsComps {
  flex-grow: 1;
  font-size: 16px;
}
.stopwatch-time {
  margin: 10px;
  text-align: center;
}
.title {
  flex-grow: 1;
  text-align: center;
}
.stopwatchComps{
  flex-grow: 1;
}
.player {
  display: flex;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 8px;
}
.player-name {
  flex-grow: 1;
}
.remove-player {
  margin-left: 20px;
  margin-right: 30px;
}
.counter {
  flex-grow: 1;
}
.counter div {
  display: inline-block;
  margin: 2px 20px;
  width: 20px;
  text-align: center;
}
.add-player-form div {
  margin: 15px 20px;
  width: 60%;
  margin-left: 10%;
}
input:focus, button:focus {
    outline:none !important;
}
.medium.text {
   font-size: 18px;
}
.large.text {
   font-size: 2rem;
}
